{% extends 'navigation.html'%}
{% load static %}
{% block body %}

<br><br><br><br><br>
<section class="about" id="about" style="background-color: azure;">

    <div class="image" style="background-color: azure;">
        <img src="{% static 'images/Learning-amico.png' %}" alt="">
    </div>

    <div class="content" style="background-color: aliceblue;">
        <h3>All About Memopad Sharing</h3>
        <p style="font-size:18px">“WEB Interactive Memo sharable platform" is the project used for post and sharing notes with Memos, pdfs, Docs, Excel, PPT, images,etc. Notes that the user wants for a subject can be found using search <a href="{% url 'login' %}" style="color: rgb(209, 0, 213);"><i class="fas fa-search" style="font-size:28px"></i></a> This project is written in Python Django and sqlite. Any user can download anyone's uploaded contents.</p>
        <p style="font-size:18px">Web Interactive Memopad by ----Nithish Kumaran S ----- [20BCAR0116] ---- for FRT Microsoft Azure Certification & BCA(CTIS) Project,6th semester,Jain University,Bengaluru,INDIA.</p>

    </div>

</section>
{% endblock %}