{% extends 'navigation.html'%}
{% load static %}
{% block body %}

{% ifequal error "no" %}
     <script>
	   alert('Your Message has been Send Successfully');
	   window.location=('{% url 'contact' %}');
     </script>
{% endifequal %}

{% ifequal error "yes" %}
     <script>
	    alert('Something went wrong, Try Again');
     </script>
{% endifequal %}
<br><br><br><br><br>
<section class="contact" id="contact" style="background-color:azure;">
<h1 class="heading mt-5" style="color:rgb(0, 0, 0);">contact us</h1>

<div class="row" style="background-color: aliceblue";>

    <form method="post" style="background-color:aliceblue";>
        {% csrf_token %}
        <label for="fullname" style="font-size: 17px">Memo pad username/Fullname:<br>
        <input type="text" style="color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);" placeholder="full name/username" name="fullname" class="box"><br>
        <label for="memo pad account email-id" style="font-size: 17px">Memo pad email-id(*for account creation/recovery use valid email):<br>
        <input type="email" style="color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);" placeholder="your email" name="memo pad account email-id" class="box"><br>
        <label for="mobile" style="font-size: 17px">Mobile number used while sign-up:<br>
        <input type="number" style="color: rgb(0, 0, 0);background-color: white;" placeholder="your contact number (+91)" name="mobile" class="box"><br>
        <label for="subject" style="font-size: 17px">Query subject:<br>
        <input type="text" style="color: rgb(0, 0, 0);background-color: white;" placeholder="Subject" name="subject" class="box"><br>
        <label for="message" style="font-size: 17px">Query area:<br>
        <textarea name="message" id="" cols="30" rows="8" class="box address" style="color: rgb(0, 0, 0);" placeholder="Type queries. Admin account creation: include details with college/company id.            Account recovery : include name; username; mobile number; email-id;.                                  If student type Reg/USN.no. before message..."></textarea><br>
        <input type="submit" class="btn" style="color: rgb(255, 255, 255);" value="send now"><br>
    </label></label></label></label></label></form>
    <div class="image" style="background-color:azure;">
        <img src="{% static 'images/Learning-pana.png' %}" alt="">
    </div>

</div>
</section>
{% endblock %}